<header class="header" data-js="header">
    <div class="header1">
        <ul class="header1-contact">
            <li class="header1-contact__tel"><a href="tel:+48293939098">293 939 098</a></li>
            <li class="header1-contact__mail"><a href="mailto:kontakt@aurorabox.pl">kontakt@aurorabox.pl</a></li>
        </ul>
        <div class="button-div">
            <button class="header1_acount">
                <a class="konto" href='#'>Załóż konto</a>
            </button>
            <button class="header1-log">
                <a class="login" href='#'>Zaloguj się</a>
            </button>

        </div>
    </div>
    <div class="header2">
        <div class="logo">
            <a href="#"><img src="../../img/logo.png" alt="Logo Aurora Box" class="logo-aurora"></a>
        </div>
        <div class="search">
            <input type="search" placeholder="Co chcesz kupić?" class="search__input">
            <button class="search__btn"><img src="../../img/lens.png" class="search__img"></button>
        </div>
        <div class="basket">
            <button class="basket__span">Twój koszyk</button>
        </div>
        <div class="mob-icons">
            <button class="mob-icons__basketBtn"><img src="../../img/basket.png" class="mob-icons__basketImg"></button>
            <button class="mob-icons__burgerBtn"><img src="../../img/menu_icon2.png" class="mob-icons__burgerImg"></button>

        </div>
    </div>
    <div class="header3">
        <ul class="header3-menu">
            <li class="header3-menu__item">
                <a href='#'>KATEGORIE</a>
            </li>
            <li class="header3-menu__item">
                <a href='#'>NOWOŚCI</a>
            </li>
            <li class="header3-menu__item">
                <a href='#'>PROMOCJE</a>
            </li>
            <li class="header3-menu__item">
                <a href='#'>WYPRZEDAŻE</a>
            </li>
            <li class="header3-menu__item">
                <a href='#'>KOLEKCJE SEZONU</a>
            </li>
            <li class="header3-menu__item">
                <a href='#'>NASZA OFERTA</a>
            </li>
            <li class="header3-menu__item">
                <a href='#'>TRENDY 2018</a>
            </li>
            <li class="header3-menu__item">
                <a href='#'>BLOG</a>
            </li>
            <li class="header3-menu__item">
                <a href='#'>KONTAKT</a>
            </li>
        </ul>
    </div>
</header>